header {
	background: url('../pictures/baniere.jpg');
}

#main {
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}

footer {
	vertical-align: middle;
	width: 100%;
	bottom: 0px;
}

.footer-background {
	background: url('/pictures/baniere.jpg');
	min-height: 50px;
	padding: 20 0 20 0;
}

.fix-cadre-produit {
	height: 30;
}

.fix-description {
	height: 100;
	overflow: hidden;
	overflow-wrap: break-word;
}

#li-header {
	color: #FFFFFF;
}