header {
	background: url('../pictures/baniere.jpg');
}

body {
	margin: 0;
	padding: 0;
	position: absolute
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0
}

.footer-background {
	background: url('../pictures/baniere.jpg');
	min-height: 50px;
	padding: 20 0 20 0;
}

.fix-cadre-produit {
	height: 30;
}

.fix-description {
	height: 100;
	overflow: hidden;
	overflow-wrap: break-word;
}